*{
    margin: 0;
    box-sizing: border-box;
}
 
/* ====================== DESKTOP ====================== */
body{
    background-color: #000000;
    width: 100%;
}
 
header{
    width: 100%;
    display: flex;
    background-color: transparent;
    padding: 15px 40px;
    align-items: center;
    height: 120px;
}
 
.logo{
    display: flex;
    height: 120px;
    width: auto;
    margin-top: 40px;
    margin-left: -25px;
}
 
.menu ul{
    display: flex;
    margin-left: 320px;
    gap: 150px;
}
 
.menu ul a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 45px;
    font-size: 30px;
}
 
.menu ul a:hover{
    color: #cb9216;
    transform: scale(1.3);
}
 
main{
    display: flex;
    padding: 20px 14%;
    justify-content: space-between;
}
 
.servicos {
    display: flex;
    justify-content: center;
    gap: 250px;
    padding: 40px;
    color: #ffffff;
}
 
.categoria {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.categoria h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
 
.quadrados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 300px;
    margin: 0 auto;
}
 
.quadrado {
    flex: 0 0 120px;
    height: 150px;
    border: 2px solid #a67d2b;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}
 
.quadrado:hover {
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.7);
}
 
 
 
.imgcortereto{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgCorteemcamadas{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgCortechanel{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgCortepixie{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgWolfcut{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgButterflyhaircut{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgruivo{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgLoiroGlobal{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgPlatinado{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgLuzes{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgPretoNatural{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgCastanhoIluminado{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgSemiPreso{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgTranca{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgCoqueTrancado{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgCoqueDespojado{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgTrancaBoxeadora{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.imgTrancaCascata{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
 
.quadrado span {
    font-size: 18px;
    position: absolute;
}
 
/* ====================== MOBILE ====================== */
@media screen and (max-width: 520px) {
 
    body{
        background-color: #000000;
        width: 100%;
    }
 
    header{
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: auto;
        align-items: center;
        gap: 10px;
    }
 
    .logo{
        height: 80px;
    }
 
    .menu ul{
        margin: auto;
        gap: 25px;
    }
 
    .menu ul a{
        font-size: 16px;
    }
 
    main {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
 
    .servicos{
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 20px 0;
    }
 
    .categoria {
        width: 100%;
        text-align: center;
    }
 
    .categoria h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }
 
    .quadrados {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
        max-width: 260px;
    }
 
    .quadrado{
        height: 70px;
        flex: none;
    }
 
    .quadrado span{
        font-size: 10px;
    }
}
 
/* ====================== TABLET ====================== */
@media screen and (min-width: 521px) and (max-width:1024px){
 
    body {
        background-image: none;
        background-color: #000000;
        width: 100%;
    }
 
    header {
        background-color: transparent;
        padding: 20px;
        flex-direction: column;
        gap: 30px;
    }
 
    .logo{
        height: 90px;
    }
 
    .menu ul {
        padding: -20px;
        gap: 60px;
        margin-left: auto;
    }
 
    .menu ul a {
        font-size: 22px;
    }
 
    main {
        padding: 120px;
        flex-direction: column;
        align-items: center;
    }
 
    .servicos {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
 
    .categoria {
        width: 100%;
        text-align: center;
    }
 
    .categoria h2 {
        font-size: 20px;
    }
 
    .quadrados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 280px;
        gap: 10px;
    }
 
    .quadrado span {
        font-size: 16px;
    }
};
