*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #000000;
  width: 1000px;
}
.logo{
  z-index: 1;
  position: fixed;
  display: flex;
  width: auto;
  left: 15px;
  height: 120px;
  top: 19px;
}
.inicial{
  position: absolute;
  top: -20px;
  width: 100%;
}
.beleza{
  color: white;
  position: absolute;
  display: flex;
  top: 650px;
  left: 580px;
  font-size: 50px;
}
.linha{
  background-color: #000000;
  width: 100%;
  height: 140px;
  z-index: 1;
  position: fixed;
}
.pagina2{
  position: absolute;
  height: 85%;
  top: 620px;
  left: 170px;
  width: 75%;
}
.subtitulo{
  position: absolute;
  color: white;
  display: flex;
  top: 920px;
  left: 1030px;
  font-size: 35px;
}
.coisas{
  position: absolute;
  color: white;
  display: flex;
  top: 990px;
  left: 900px;
  font-size: 30px;
  text-indent: 20px;
}
.pagina3{
  position: absolute;
  height: 95%;
  top: 1100px;
  text-align: center;
  width: 85%;
  left: 160px;
}
.cortes{
  position: absolute;
  display: flex;
  padding: 8px 25px;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  font-family: sans-serif;
  top: 1620px;
  left: 477px;
  border: 2px solid white;
}
.coloracoes{
  position: absolute;
  display: flex;
  padding: 8px 25px;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  font-family: sans-serif;
  top: 1620px;
  left: 900px;
  border: 2px solid white;
}
.penteado{
  position: absolute;
  display: flex;
  padding: 8px 25px;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  font-family: sans-serif;
  top: 1620px;
  left: 1340px;
  border: 2px solid white;
}
.divisao{
  background-color: #2b2a2a;
  width: 100%;
  height: 2px;
  top: 1735px;
  position: absolute;
}
.contato{
  color: white;
  position: absolute;
  top: 1770px;
  left: 405px;
  font-size: 25px;
}
.endereco{
   color: white;
  position: absolute;
  top: 1770px;
  left: 1115px;
  font-size: 25px;
}
.insta{
  position: absolute;
  top: 1810px;
  height: 50px;
  left: 380px;
}
.zap{
  position: absolute;
  top: 1865px;
  height: 50px;
  left: 395px;
}
.gmail{
  position: absolute;
  top: 1920px;
  height: 50px;
  left: 395px;
}
.infgmail{
  position: absolute;
  top: 1930px;
  color: white;
  left: 455px;
  font-size: 22px;
}
.infi{
  position: absolute;
  top: 1820px;
  color: white;
  left: 455px;
  font-size: 22px;
}
.infz{
  position: absolute;
  top: 1875px;
  color: white;
  left: 455px;
  font-size: 22px;
}
.rua{
  position:absolute;
  top: 1830px;
  color: white;
  left: 1050px;
  font-size: 24px;
}
.ruadois{
  position: absolute;
  top: 1865px;
  color: white;
  left: 950px;
  font-size: 24px;
  text-indent: 100px;
}
.creditos{
  position: absolute;
  top: 1915px;
  color: white;
  left: 1050px;
  font-size: 20px;
}
nav a{
  text-decoration: none;
  color: #f1f6f8;
  z-index: 1;
  transition: 0.3s;
}
nav ul{
  list-style: none;
  margin: 40px;
  padding: 25px;
  display: inline-flex;
  gap: 150px;
  justify-content: center;
  position: fixed;
  left: 485px;
  z-index: 1;
  font-size: 31px;
}
nav a:hover{
  color: #dba93c;
  transform: scale(1.3);
}
@media screen and (max-width: 1024px){
  .logo{
    top: -20px;
    z-index: 1;
    position: absolute;
    display: flex;
    width: 190px;
  }
  nav ul{
    left: 210px;
    gap: 90px;
    font-size: xx-large;
    position: absolute;
  }
  .linha{
    position: absolute;
  }
  .inicial{
    width: 101%;
  }
  .beleza{
    font-size: 30px;
    left: 320px;
    top: 355px;
  }
  .pagina2{
    top: 340px;
    width: 85%;
    height: 45%;
    left: 60px;
  }
  .subtitulo{
    top: 480px;
    left: 550px;
  }
  .coisas{
    top: 560px;
    left: 520px;
  }
  .pagina3{
    top: 750px;
    width: 100%;
    height: 50%;
    left: 15px;
  }
  .cortes{
    top: 1140px;
    left: 200px;
  }
  .coloracoes{
    top: 1140px;
    left: 460px;
  }
  .penteado{
    top: 1140px;
    left: 740px;
  }
  .contato{
    top: 1270px;
    left: 50px;
  }
  .insta{
    top: 1330px;
    left: 30px;
  }
  .infi{
    top: 1340px;
    left: 90px;
  }
  .zap{
    top: 1380px;
    left: 43px;
  }
  .infz{
    top: 1390px;
    left: 92px;
  }
  .gmail{
    top: 1430px;
    left: 40px;
  }
  .infgmail{
    top: 1440px;
    left: 90px;
  }
  .rua{
    top: 1300px;
    left: 600px;
  }
  body{
    height: 2000px;
    width: 50%;
  }
  .ruadois{
    top: 1320px;
    left: 600px;
  }
}
@media screen and (max-width: 1024px){
  .logo{
    top: 10px;
    z-index: 1;
    position: absolute;
    display: flex;
    width: 190px;
  }
  nav ul{
    left: 210px;
    gap: 90px;
    font-size: xx-large;
    position: absolute;
  }
  .linha{
    position: absolute;
  }
  .inicial{
    width: 101%;
  }
  .beleza{
    font-size: 30px;
    left: 320px;
    top: 355px;
  }
  .pagina2{
    top: 340px;
    width: 85%;
    height: 45%;
    left: 60px;
  }
  .subtitulo{
    top: 480px;
    left: 550px;
  }
  .coisas{
    top: 560px;
    left: 520px;
  }
  .pagina3{
    top: 750px;
    width: 100%;
    height: 50%;
    left: 15px;
  }
  .cortes{
    top: 1140px;
    left: 200px;
  }
  .coloracoes{
    top: 1140px;
    left: 460px;
  }
  .penteado{
    top: 1140px;
    left: 740px;
  }
  .contato{
    top: 1270px;
    left: 50px;
  }
  .insta{
    top: 1330px;
    left: 30px;
  }
  .infi{
    top: 1340px;
    left: 90px;
  }
  .zap{
    top: 1380px;
    left: 43px;
  }
  .infz{
    top: 1390px;
    left: 92px;
  }
  .gmail{
    top: 1430px;
    left: 40px;
  }
  .infgmail{
    top: 1440px;
    left: 90px;
  }
  .rua{
    top: 1300px;
    left: 600px;
  }
  .ruadois{
    top: 1320px;
    left: 600px;
  }
}
@media screen and (max-width: 480px){
  body{
    width: 100%;
    overflow-x: hidden;
  }
  .logo{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 140px;
    height: auto;
    z-index: 10;
  }
  nav ul{
    position: absolute;
    left: 115px;
    gap: 20px;
    font-size: 18px;
    top: -30px;
  }
  .linha{
    height: 110px;
    width: 100%;
  }
  .inicial{
    width: 100%;
    top: 30px;
    left: 13px;
  }
  .beleza{
    font-size: 22px;
    width: 90%;
    left: 100px;
    top: 250px;
    text-align: center;
  }
  .pagina2{
    display: none;
  }
  .subtitulo{
    font-size: 28px;
    top: 340px;
    transform: translateX(-50%);
    left: 270px;
  }
  .coisas{
    top: 400px;
    width: 90%;
    font-size: 20px;
    text-align: center;
    left: 55px;
  }
  .pagina3{
    top: 520px;
    width: 100%;
    height: auto;
    left: 30px;
  }
  .cortes, .coloracoes, .penteado{
    top: 710px;
    font-size: 13px;
    padding: 2px 5px;
  }
  .cortes{ left: 115px; }
  .coloracoes{ left: 230px; }
  .penteado{ left: 363px; }
 
  .divisao{
    top: 800px;
    width: 111%;
  }
  .contato{
    top: 820px;
    left: 20px;
    font-size: 22px;
  }
  .insta{
    top: 860px;
    left: 0px;
  }
  .infi{
    top: 870px;
    left: 70px;
  }
  .zap{
    top: 920px;
    left: 18px;
  }
  .infz{
    top: 930px;
    left: 75px;
  }
  .gmail{
    top: 980px;
    left: 15px;
  }
  .infgmail{
    top: 990px;
    left: 75px;
  }
  .rua{
    top: 1070px;
    left: 25px;
    font-size: 18px;
  }
  .ruadois{
    top: 1100px;
    left: -75px;
    font-size: 18px;
  }
  .creditos{
    top: 1150px;
    left: 100px;
    font-size: 16px;
  }
}
